@tailwind base;

@tailwind components;


/*** START UIKIT ***/


// Important
@import "../../node_modules/uikit/src/less/components/variables.less";
@import "../../node_modules/uikit/src/less/components/inverse.less";
@import "../../node_modules/uikit/src/less/components/animation.less";

// Javascript
@import "../../node_modules/uikit/src/less/components/accordion.less";
@import "../../node_modules/uikit/src/less/components/card.less";
@import "../../node_modules/uikit/src/less/components/drop.less";
@import "../../node_modules/uikit/src/less/components/dropdown.less";
@import "../../node_modules/uikit/src/less/components/close.less";
@import "../../node_modules/uikit/src/less/components/modal.less";
@import "../../node_modules/uikit/src/less/components/lightbox.less";
@import "../../node_modules/uikit/src/less/components/slideshow.less";
@import "../../node_modules/uikit/src/less/components/slider.less";
@import "../../node_modules/uikit/src/less/components/sticky.less";
@import "../../node_modules/uikit/src/less/components/offcanvas.less";
@import "../../node_modules/uikit/src/less/components/switcher.less";
@import "../../node_modules/uikit/src/less/components/leader.less";
@import "../../node_modules/uikit/src/less/components/notification.less";
@import "../../node_modules/uikit/src/less/components/tooltip.less";
@import "../../node_modules/uikit/src/less/components/navbar.less";
@import "../../node_modules/uikit/src/less/components/offcanvas.less";
@import "../../node_modules/uikit/src/less/components/search.less";
@import "../../node_modules/uikit/src/less/components/flex.less";
@import "../../node_modules/uikit/src/less/components/iconnav.less";
@import "../../node_modules/uikit/src/less/components/icon.less";
@import "../../node_modules/uikit/src/less/components/cover.less";
@import "../../node_modules/uikit/src/less/components/utility.less";
@import "../../node_modules/uikit/src/less/components/svg.less";
@import "../../node_modules/uikit/src/less/components/margin.less";
@import "../../node_modules/uikit/src/less/components/visibility.less";
@import "../../node_modules/uikit/src/less/components/overlay.less";
@import "../../node_modules/uikit/src/less/components/position.less";





// Variables
@breakpoint-small: 640px;
@breakpoint-medium: 768px;
@breakpoint-large: 1024px;
@breakpoint-xlarge: 1280px;
@breakpoint-xxlarge: 2560px;
@breakpoint-xxlarge: 3840px;



// body {
//     background: rgba(192, 223, 32, 1);
//     height: 1000px;
// }







@tailwind utilities;